%div.row-fluid
  %div.span12
    %div{"ng-controller" => "StoryCtrl"}
      %div{"ng-show" => "loading"}= image_tag("ajax-loader.gif")
      %div{"ng-repeat" => "story in stories", class: "story-box {{story.owner.slug}}-bg"}
        %div.top
          %h5= link_to "{{story.name}}", "{{story.url}}", target: "_blank"
        %div.bottom
          %div.row-fluid
            %div.span12
              %div.pull-left
                %h6= link_to "{{story.project.name}}", "{{story.project.url}}", target: "_blank"
              %div.pull-right
                %h6 {{story.story_type.name}}