%div.row-fluid
  %div.span12
    - @stories.each do |story|
      %div.story-box{class: "story-box #{story.owner.try(:slug)}-bg", "data-sort-order" => story.state.sort_order, "data-story-type" => story.story_type.slug, "data-project" => story.project.slug, "data-state" => story.state.slug, "data-shown" => story.shown?.to_s}
        %div.top
          %h5= link_to story.name, story.url, target: "_blank"
        %div.bottom
          %div.row-fluid
            %div.span12
              %div.pull-left
                %h6= link_to story.project.name, story.project.url, target: "_blank"
              %div.pull-right
                %h6= story.story_type.name