- Iteration.current.each do |iteration|
  - next if iteration.stories.empty?
  %div.well
    %h4= "#{iteration.project.name} - #{iteration.date_range}"

    %ol
      - iteration.stories.find_each do |story|
        %li= link_to story.name, story.url, target: "_blank"