- Iteration.current.each do |iteration|
  - iteration.stories.find_each do |story|
    %div.well
      %h5= link_to story.name, story.url, target: "_blank"
      %h6= link_to story.project.name, story.project.url, target: "_blank"
        